DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

MOTOGP_API_URL="https://api.motogp.pulselive.com/motogp/v1"

MOTOGP_RESULTS_API_URL="https://api.motogp.pulselive.com/motogp/v1/results"
